@tailwind base;
@tailwind components;
@tailwind utilities;

.option-container{
  width: 100%;
  background-color: #EDF2F7;
}
.md-scroll-container{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    background-color: #EDF2F7;
}
.max-width{
    width: 100%;
}
.basic-multi-select .select__control {
  height: 100%;
}

@layer components {
    .btn-primary {
      @apply inline-flex items-center rounded-md bg-purple-700 px-4 py-3 text-sm font-semibold text-white shadow-sm enabled:hover:bg-purple-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-700 disabled:opacity-50 disabled:cursor-not-allowed;
    }
  }