repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path implants/Cargo.toml --all --
        language: system
        types: [rust]
        pass_filenames: false
