[target.'cfg(target_os = "windows")']
rustflags = [
    "--cfg",
    "windows",
]

[target.'cfg(target_os = "macos")']
rustflags = [
    "--cfg",
    "macos",
]

[target.'cfg(target_os = "freebsd")']
rustflags = [
    "--cfg",
    "freebsd",
]
