[workspace]
members = [
    "imix",
    "golem",
    "lib/eldritch",
    "lib/tavern",
]

[workspace.dependencies]
aes = "0.8.3"
allocative = { git = "https://github.com/facebookexperimental/starlark-rust", rev = "1109aaf9b700d7cdd7ba48986aa650221b70a22f" }
allocative_derive = { git = "https://github.com/facebookexperimental/starlark-rust", rev = "1109aaf9b700d7cdd7ba48986aa650221b70a22f" }
anyhow = "1.0.65"
assert_cmd = "2.0.6"
async-recursion = "1.0.0"
async-trait = "0.1.68"
base64 = "0.21.4"
chrono = "0.4.24"
clap = "3.2.23"
default-net = "0.13.1"
derive_more = "0.99.17"
eldritch = { path = "./lib/eldritch" }
eval = "0.4.3"
flate2 = "1.0.24"
gazebo = "0.8.1"
graphql_client = "0.12.0"
hex-literal = "0.4.1"
httptest = "0.15.4"
ipnetwork = "0.20.0"
itertools = "0.10"
lsp-types = "0.93.0"
md5 = "0.7.0"
netstat2 = "0.9.1"
network-interface = "1.0.1"
nix = "0.26.1"
openssl = "0.10.55"
pnet = "0.34.0"
predicates = "2.1"
rand = "0.8.5"
regex = "1.5.5"
reqwest = "0.11.18"
russh = "0.37.1"
russh-sftp = "2.0.0-beta.2"
russh-keys = "0.37.1"
rust-embed = "6.6.0"
serde = "1.0"
serde_json = "1.0.87"
sha1 = "0.10.5"
sha2 = "0.10.7"
sha256 = "1.0.3"
starlark = { git = "https://github.com/facebookexperimental/starlark-rust", rev = "1109aaf9b700d7cdd7ba48986aa650221b70a22f" }
starlark_derive = { git = "https://github.com/facebookexperimental/starlark-rust", rev = "1109aaf9b700d7cdd7ba48986aa650221b70a22f" }
structopt = "0.3.23"
sys-info = "0.9.1"
sysinfo = "0.29.7"
tar = "0.4.38"
tavern = { path = "./lib/tavern" }
tempfile = "3.3.0"
tera = "1.17.1"
thiserror = "1.0.30"
tokio = "1.19.1"
tokio-stream = "0.1.9"
tokio-test = "*"
uuid = "1.3.0"
whoami = "1.3.0"
windows-sys = "0.45.0"

[profile.release]
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true
codegen-units = 1
panic = "abort"
