[workspace]
members = [
    "imix",
    "eldritch",
    "golem",
    "pkg/tavern",
]

[profile.release]
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true
codegen-units = 1
panic = "abort"

[profile.rust-analyzer]
inherits = "dev"
