---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

.site-nav.nav-open{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 50rem) { 
  .site-nav { 
    flex-direction: column;
    justify-content: space-between;  
    display: flex;
  } 
}

.nav-button{
  width: 100%;
  margin-bottom: 1rem;

  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 12px !important;
}
