---
---
{% include css/just-the-docs.scss.liquid color_scheme="light" %}

.nav-button{
    width: 100%;
    margin-bottom: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }