[package]
name = "imix"
version = "0.2.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[features]
# Check if compiled by imix
win_service = []
default = ["transport/grpc"]
http1 = ["transport/http1"]
transport-grpc-doh = ["transport/grpc-doh"]

[dependencies]
eldritch-core = { path = "../lib/eldritchv2/eldritch-core" }
eldritch-stdlib = { path = "../lib/eldritchv2/eldritch-stdlib", features = ["stdlib"] }
eldritch-macros = { path = "../lib/eldritchv2/eldritch-macros" }
eldritchv2 = { path = "../lib/eldritchv2/eldritchv2" }

pb = { workspace = true, features = ["imix"]}
transport = { workspace = true }
anyhow = { workspace = true }
clap = { workspace = true }
log = { workspace = true }
tokio = { workspace = true, features = ["full"] }
pretty_env_logger = { workspace = true }
# futures is not in workspace, specify version
futures = "0.3"
rust-embed = { workspace = true }
async-trait = { workspace = true }

[target.'cfg(target_os = "windows")'.dependencies]
windows-service = "0.6.0"

[target.'cfg(target_os = "windows")'.build-dependencies]
static_vcruntime = { workspace = true }

[dev-dependencies]
httptest = { workspace = true }
tempfile = { workspace = true }
env_logger = "0.11.2"
