# Publish docker images when new releases come out

name: Publish Docker Images (on push to main)

on:
  push:
    branches: ['main']
  workflow_dispatch: ~

env:
  GHCR_REGISTRY: ghcr.io
  GHCR_IMAGE_NAME: ${{ github.repository }}/tavern

jobs:
  tavern-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          lfs: 'true'
      - name: Replace lfs references with files
        run: git lfs pull
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            spellshift/tavern
          tags: |
            type=ref,event=branch
            type=edge,branch=main
            type=sha,format=long

      - name: Build and push Dockerhub image
        uses: docker/build-push-action@v6
        with:
          file: ./docker/tavern.Dockerfile
          context: .
          push: true
          target: production
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta_ghcr
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.GHCR_REGISTRY }}/${{ env.GHCR_IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=edge,branch=main
            type=sha,format=long

      - name: Build and push GHCR image
        uses: docker/build-push-action@v6
        with:
          file: ./docker/tavern.Dockerfile
          context: .
          push: true
          target: production
          tags: ${{ steps.meta_ghcr.outputs.tags }}
          labels: ${{ steps.meta_ghcr.outputs.labels }}
